<fieldset class="big">
  <legend><b>.: Lastheard Log :.</b></legend>
{% if _table|length > 0 %}
  <table class="log">
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Callsign (DMR-Id)</th>
      <th>Name</th>
      <th>TG#</th>
      <th>TG Name</th>
      <th>TX (s)</th>
      <th>System</th>
    </tr>
    {% for itm in _table %}
    <tr>
      <td>{{ itm[0][:10] }}</td>
      <td>{{ itm[0][11:] }}</td>
      {% if not itm[7] %}
      <td class="txt-464646"><b>{{ itm[6] }}</b></td>
      <td></td>
      {% else %}
      <td><a target="_blank" href=https://qrz.com/db/{{itm[7]}}>{{ itm[7] }}</a></b><span class="fnt-7pt">&nbsp;({{ itm[6] }})</span></td>
      <td class="txt-002d62"><b>{{ itm[8] }}</b></td>
      {% endif %}
      <td class="txt-b5651d"><b>{{ itm[4] }}</b></td>
      <td class="txt-green"><b>{{ '' if not itm[5] else itm[5]|safe }}</b></td>
      <td {{ 'class="bkgnd-1d1"'|safe if not itm[1] else '' }}>{{ 'DATA' if not itm[1] else itm[1]|int }}</td>
      <td>{{ itm[3] }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <table class="w4data">
    <tr><td><b>Waiting for data from the Server...</b></td></tr>
  </table>
{% endif %}
</fieldset>