<!-- Version 1.0.0 -->
<fieldset class="big">
  <legend><b>.: Static TG :.</b></legend>
  {% if _table['MASTERS']|length > 0 %}
  <table class="stctg">
    <tr>
      <th class="th1wd">HB Protocol<br>Master Systems</th>
      <th class="th2wd">Callsign (DMR Id)<br>Info</th>
      <th class="th3wd">Time Connected</th>
      <th class="th4wd">Slot</th>
      <th class="th5wd">Static TG</th>
      <th class="th6wd">Single TG</th>
      <th class="th7wd">T/O</th>
    </tr>
    {% for _master in _table['MASTERS'] %}
    {% if ((_table['MASTERS'][_master]['PEERS']|length==0 or _table['MASTERS'][_master]['PEERS']|length>0) and
    emaster==True) or (_table['MASTERS'][_master]['PEERS']|length>0 and emaster==False) %}
    <tr>
      <td rowspan="{{ (_table['MASTERS'][_master]['PEERS']|length * 2) +1 }}">
        <span><b>{{_master}}</b></span><br>
        <span class="fnt-8pt">{{_table['MASTERS'][_master]['REPEAT']}}</span>
      </td>
    </tr>
    {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
    <tr>
      <td rowspan="2">
        <div class="tooltip">
          <span class="txt-0065ff"><b>{{ _cdata['CALLSIGN']}}</b></span>
          <span class="fnt-8pt">(Id: {{ _client }})</span>
          <div class="tooltiptext c2s-pos1">
            {% if _cdata['RX_FREQ'] == 'N/A' and _cdata['TX_FREQ'] == 'N/A' %}
            <b>Type: <span class="txt-yellow">IP Network</span></b><br>
            {% else %}
            <b>Type: <span class="txt-yellow">Radio</span></b> ({{ _cdata['SLOTS'] }})<br>
            {% endif %}
            <b>Soft_Ver</b>: {{_cdata['SOFTWARE_ID'] }}<br>
            <b>Hardware</b>: {{_cdata['PACKAGE_ID'] }}
          </div>
        </div><br>
        <div class="location">{{_cdata['LOCATION']}}</div>
      </td>
        <td class="connted-bkgnd" rowspan="2">{{ _cdata['CONNECTED'] }}</td>
        <td class="txt-b70101 ts1-bkgnd">TS1</td>
        <td class="ts1-bkgnd"><b>{{ _cdata['TS1_STATIC']|join(', ') }}</b></td>
        <td class="ts1-bkgnd txt-008000"><b>{{ _cdata['SINGLE_TS1']['TGID'] if 'SINGLE_TS1' in _cdata else '' }}</b></td>
        <td class="ts1-bkgnd txt-008000"><b>{{ _cdata['SINGLE_TS1']['TO'] if 'SINGLE_TS1' in _cdata else '' }}</b></td>
      <tr>
        <td><span class="txt-3a4aa6">TS2</span></td>
        <td><b>{{ _cdata['TS2_STATIC']|join(', ') }}</b></td>
        <td class="txt-008000"><b>{{ _cdata['SINGLE_TS2']['TGID'] if 'SINGLE_TS2' in _cdata else '' }}</b></td>
        <td class="txt-008000"><b>{{ _cdata['SINGLE_TS2']['TO'] if 'SINGLE_TS2' in _cdata else '' }}</b></td>
      </tr>
    </tr>
      {% endfor %}
      {% endif %}
      {% endfor %}
  </table>
  {% else %}
  <table class="w4data"><tr><td><b>Waiting for data from the Server...</b></td></tr></table>
  {% endif %}
</fieldset>